{% include "header.html" %}

<header class="masthead" style="background-image: url({{ url_for('static', filename='img/mac_headphones.jpg') }})">
    <div class="overlay"></div>
    <section class="about-container">
        <h1>About Me</h1>
    </section>
</header>

<section class="description-container">
    <p>I'm an aspiring Wed-Developer located in Edmonton, AB. I'm very passionate about creating websites that are beautiful
    as well as creating a fun and easy user experience. I'm currently in the process of learning more about web-developing
    through online courses on Udemy. I have experience in Front-End development with HTML and CSS as well as using
    frameworks such as Bootstrap. I also have experience in Back-End development through Python with experience in using
        Flask, Jinja and creating data-bases using SQLite.</p>
    <br>
    <p>In my spare time I like gaming, rock climbing and spending time with my wife and two boys. I am currently
    working shift work at Pembina Pipeline Corporation as a rail loader, but I am looking to start a career in Web-Developing. I've
    always had a very driven outlook on my work, and I take pride in the work I'm able to do. I am constantly looking to
        learn and grow in the field of work I am in. I'm not afraid to ask questions or get help, and I always push myself
    to be a better developer.</p>
</section>
