{% include "header.html" %}
{% import "bootstrap/wtf.html" as wtf%}


<section id="contact" style="background-image: url({{ url_for('static', filename='img/smoke.jpg') }})">
    <div class="overlay"></div>
    <h1>Contact Me</h1>
    <p class="contact-p">If you want to get in touch or talk to me about the projects that you've seen in my portfolio, feel free to contact
    me through one of these links. You can also send me a message just by filling in the form below or email
    me at <span style="font-weight: bold">andrewncomer@gmail.com</span>.</p>
    <a href="https://www.linkedin.com/in/andrew-comer-b75583227/"><i class="social-icon fab fa-linkedin-in fa-5x"></i></a>
    <a href="https://www.instagram.com/uberoddish/?hl=en"><i class="social-icon fab fa-instagram fa-5x"></i></a>
    <a href="https://github.com/uberoddish"><i class="social-icon fab fa-github fa-5x"></i></a>
    {{ ckeditor.load() }}
    {{ ckeditor.config(name='Message') }}
    {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
</section>

